html, body {
	height: 100%;
	min-height: 100%;
}

body {
	margin: 0;
	background-color: #e1e1e1;
	display: flex;
	flex-direction: column;
}

nav {
	background-color: #FFFFFF;
	border-bottom: 1px solid #d6d6d6;
	padding: 10px 0;
}

.navbar--content {
	width: 960px;
	margin: auto; 
	display: flex; 
	flex-direction: row;
}

.navbar--name {
	display: inline;
}

.navbar--links {
	display: inline;
	right: 0;
	flex-grow: 2; 
	text-align: right;
}

.navbar--links ul {
	display: inline;
	padding-left: 0;
}

.navbar--links ul li {
	display: inline;
}

.body--container {
	flex: 1;
}
.body--content {
	width: 960px;
	margin: auto; 
	background-color: #FFFFFF;
	border: 1px solid #d6d6d6;
	margin-top: 10px;
	margin-bottom: 10px;
}

footer {
	background-color: #FFFFFF;
	border-top: 1px solid #d6d6d6;
	flex-shrink: 0;
}

.footer--content {
	width: 960px;
	margin: auto;
}